/*section > div {
    display: flex;          
    gap: 15px;              
    justify-content: space-around; 
    flex-wrap: wrap;        
}

.product_item {
    border: 1px solid gray; 
    padding: 10px;         
    margin-bottom: 15px;   
}*/